parameters:
	ignoreErrors:
		-
			message: '#^Invoking callable on an unknown class Filament\\Forms\\Set\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Catalog/app/Filament/Resources/CategoryResource.php

		-
			message: '#^Parameter \$set of anonymous function has invalid type Filament\\Forms\\Set\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Catalog/app/Filament/Resources/CategoryResource.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: Modules/Catalog/app/Http/Controllers/CatalogController.php

		-
			message: '#^Access to an undefined property Modules\\Order\\Models\\Order\:\:\$status\.$#'
			identifier: property.notFound
			count: 3
			path: Modules/Order/app/Filament/Resources/OrderResource.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: Modules/Order/app/Http/Controllers/OrderController.php

		-
			message: '#^Access to an undefined property Modules\\Order\\Models\\Order\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Order/app/Models/Order.php

		-
			message: '#^Access to an undefined property Modules\\Order\\Models\\OrderItem\:\:\$product_price\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Order/app/Models/OrderItem.php

		-
			message: '#^Access to an undefined property Modules\\Order\\Models\\OrderItem\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Order/app/Models/OrderItem.php

		-
			message: '#^Access to an undefined property Modules\\Order\\Models\\OrderItem\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Order/app/Models/OrderItem.php
